/* **************************** */
/* *        GENERAL              */
/* **************************** */

/* *   FONTS */

/* 
font-family: 'Lora', serif;
font-family: 'Work Sans', sans-serif; 
*/

body{
    background: #2e2e2e;
    /* ?  WOHER KOMMT VERTICAL SCRALL AB ca.600px BREITE? btw in gadgets-mode*/
    overflow-x: hidden;

}

main{
    /* ?  Hiermit ist VERTICAL SCROLL PROBLEM gelöst, was ist aber der Grund? */
    /* ?   menu ist dann aber nicht STICKY - so erstma ausgeblendet  */
    /* overflow-x: hidden; */
}

main, body, section, article, div, h1, h5, h3{
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
}

img{
    padding: 0;
    margin: 0;
    display: inline-block;

}

p{
    font-family: 'Work Sans', sans-serif; 
}





/* **************************** */
/* *        TITEL PAGE              */
/* **************************** */


#titel-page{
    height: 100vh;
    background: white;

    /* ?  WARUM BEKOMME ICH BEI 100vw oder 100% vertical scroll? */
    width: 99vw;
    display: grid;

    /* ?  WOHER KOMMT DER "GAP" DAZWISCHEN? GELÖST DURCH ÄNDERUNG d. BODY BACKGROUND */
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
    /* place-items: fit; */
    /* gap: 0; */

    /* border: 1px green solid; */
}


.text-side{
    text-align: center;
    place-self: center; 
    width: 40vw;


    /* border: 1px red solid; */

}

.text-side h1{
    font-size: 3em;
    padding-bottom: 20px;
}

.pic-side{
    height: 100%;
    justify-self: end;


    /* border: 1px orange solid; */

}
.pic-side img{

    height: 100vh;
    width: 100%; 
}


/* **************************** */
/* *        NAVi              */
/* **************************** */


/* *   invisible burger menu */
#tripple{
    display: none;
}

nav{
    position: sticky;
    width: 100vw;
    top: 0;
    color: white;
    display: inline-block;
    background-color: #2e2e2e;
    z-index: 3;
}

nav img{
    display: inline-block;
    width: 100px;

    /* padding-bottom: 60px; */
    /* margin-bottom: 10px; */
}

nav ul{
    height: 5vh;
    list-style: none;
    position: relative;

}

nav ul li:nth-of-type(1){
    /* left: 20px;
    top: 5px; */
    top: -15px;
}

nav ul li:nth-of-type(2){
    left: 30%;
    top:10px
}

nav ul li:nth-of-type(3){
    left: 50%;
    top:10px

}

nav ul li:nth-of-type(4){
    left: 70%;
    top:10px

}
nav ul li:nth-of-type(5){
    left: 90%;
    top:10px

}

nav ul li{
    display: inline-block;
    position: absolute;
}

nav ul li a{
    text-decoration: none;
    color: white;
    position: relative;
    left: 0;
}

ul li:not(:first-child):hover{
    text-decoration: underline;
}




/* **************************** */
/* *        SECOND PAGE              */
/* **************************** */

/* ?  WOHER DER "GAP"  nach der MENU? */
#main-page{
    height: 105vh;

    background: #2e2e2e;
    /* ?  WARUM BEKOMME ICH BEI 100vw oder 100% vertical scroll? */
    width: 99vw;
    display: grid;

    /* ?  WOHER KOMMT DER "GAP" DAZWISCHEN? */
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    justify-items: start;
    align-items: center;

    /* gap: 0; */

    /* border: 1px green solid; */
}

#main-page .text-side{
    /* text-align: left; */
    width: 80%;
    color: white;

    /* text-align: center;
    place-self: center; 
    width: 40vw; */


    /* border: 1px red solid; */

}

#main-page img{
    width: 60vw;
}



#main-page h2{
    place-self: center;
    /* font-family: 'Lora', serif;  */
    font-family: 'Lora', serif;


}

#main-page p{
    place-self: start;
    text-align: left;
    line-height: 160%;
    font-family: 'Work Sans', sans-serif; 
}

/* **************************** */
/* *        FEATURED PAGE              */
/* **************************** */

#featur{
    padding-top: 100px;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 35vh 40vh 50vh;
    /* gap: 20px; */
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;

    background: white;
    padding-bottom: 200px;
    
}

#featur article{

    /* !    DELETING FIXED WIDTHS   */
    /* width: 30%;
    height: 30%; */

    /* border: red 1px solid; */
}


#featur img{
    width: 28vw;
}

#featur p{
    opacity: .8;
    line-height: 150%;

}

#num2 p, #num3 p , #num4 p{
    text-align: center;
    margin-top: 0;
}

/* ?  WHY ITS NOT BRIGHTER? - see abover - 8 lines */
#num1{
    grid-column: 1/-1;
    grid-row: 1/2;

    /* ???????  does it work */
    width: 40vw;
}

#num1 h2{

    /* ?  DOUBLE CENTER neccessary in such cases? */
    place-self: center; 
    text-align: center;
}

#num5{
    grid-column: 2/3;
    
}

/* **************************** */
/* *        Forms PAGE              */
/* **************************** */

#forms_wrapper{
    /* margin-top: 20vh; */
    height: 60vh;
    background: #2e2e2e;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#forms_wrapper p,#forms_wrapper h2, #forms_wrapper label {
    color: white;
}

#forms_wrapper label{
    padding: 10px 0 0;
}

#blok1, #blok2{
    width: 30vw;
}
#form_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#button_{
    width: 80px;
    margin-top: 50px;
}

/* **************************** */
/* *        FOOTER             */
/* **************************** */


footer{
    background: #1d2c2f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    height: 10vh;

}

footer h3{
    color: white;
    display: inline-block;

}


footer section:last-of-type h3{
    word-spacing: 15px;
    /* height: ; */
}




/* **************************** */
/* *        MEDIA QUERIES              */
/* **************************** */


@media only screen and (max-width:700px){
    #titel-page{
        grid-template-columns: 100%;
        grid-template-rows: 40% 60%;
    }
    .pic-side img{
        height: 60vh;
    }

    /* *NAV */

    nav ul li:nth-of-type(1){
        left: 5%;
    }
    
    nav ul li:nth-of-type(2){
        left: 30%;
    }
    
    nav ul li:nth-of-type(3){
        left: 40%;
    
    }
    
    nav ul li:nth-of-type(4){
        left: 58%;
    
    }
    nav ul li:nth-of-type(5){
        left: 73%;
    
    }

/* **  FEATURED PAGE */
    #featur{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 35vh 40vh 50vh;
        /* padding-left: 100px; */
    }

    #num1{
        grid-column: 1/2;
        grid-row: 1/2;
    
        /* ???????  does it work */
        width: 40vw;
    }
    #num2{
        grid-column: 2/-1;
        grid-row: 1/2;
    }

    #num5{
        grid-column: 1/-1;
        grid-row: 3/-1;
        
    }
    #featur img{
        width: 40vw;
    }
}


@media only screen and (max-width:500px){


    iframe{
        width: 355px;
        height: 200px;
        padding-top: 50px;
    }

    ul li:not(:first-of-type){
        display: none;
    }

    /* ********************** */
    /* *        BURGER MENU */
    /* ********************** */





    #tripple{
        display: inline-block;
        position: relative;
        width: 300px;
        height: 100px;
        /* overflow-x: hidden; */
    }
    
    /* *   POSITIONs */
    #lines{
        position: absolute;
        right: 70px;
        top: 10px;
    
    }
    
    #trigger_checkbox{
        position: absolute;
        right: 0;
        top: 0;
    }
    
    
    /* *    LOOKING AT */
    #lines span{
        display: block;
        width: 40px;
        height: 5px;
        background: white;
        border-radius: 2px;
        margin-bottom: 1px;
    }
    
    /* *   TRIGGER BUTTON + positioning */
    input[type=checkbox]{
        right: 70px;
        top: 10px;
        position: absolute;
        transform: scale(3);
        z-index: 13;
        opacity: 0;
    }
    
    
    /* *    ASIDE MENU */
    
    #menu-aside{
        position: absolute;
        height: 100vh;
        width: 300px;
        /* opacity: .5; */
        background: #2e2e2e;
    
        /* *  POSITIONING THE MENU - CONTAINS THE NUMBERS FROM trigger_checkbox */
    
        right: -380px;
        top: -50px;
    
        /* *    ORDERING THE ELEMENTS */
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 1;
    }
    
    
    /* *  TRIGGER */
    
    input[type=checkbox]:checked ~ #menu-aside{
        right: 0px;
        /* top: 40px; */
        z-index: 2;
        transition: 1s;
    }
    
    input[type=checkbox]:checked ~ #closing_{
        opacity: 1;
        z-index: 2;
    }
    
        /* *CLOSE ICON ON MENU AFTER ACTIVATION! */
        #closing_{
            position: absolute;
            z-index: 5;
            right: 70px;
            top: -5px;
            opacity: 0;
        }

        #main-page{
            height: 100vh;
        
            background: #2e2e2e;
            /* ?  WARUM BEKOMME ICH BEI 100vw oder 100% vertical scroll? */
            width: 99vw;
            display: grid;
        
            /* ?  WOHER KOMMT DER "GAP" DAZWISCHEN? */
            grid-template-columns: 100%;
            grid-template-rows: 50% 50%;
            justify-items: center;
            align-items: center; 

        }

        #main-page img{
            width: 90vw;

        }


        #featur{
            width: 100vw;
            height: 180%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }

        #featur img{
            width: 70vw;
        }

        footer h3{
            font-size: 0.6em;
        }

    
}